<%= form_with(model: jde_log, local: true) do |form| %>
  <% if jde_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jde_log.errors.count, "error") %> prohibited this jde_log from being saved:</h2>

      <ul>
        <% jde_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.time_select :hora %>
  </div>

  <div class="field">
    <%= form.label :json_enviado %>
    <%= form.text_area :json_enviado %>
  </div>

  <div class="field">
    <%= form.label :respuesta %>
    <%= form.text_area :respuesta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
