<canvas id="bar-chart" width="350" height="150"></canvas>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>CEDIS</th>
            <th>Buen gasto ideal</th>
            <th>Bajo gasto ideal</th>
            <th>Total de unidades</th>
            <th>Unidades dentro de gasto ideal %</th>
        </tr>
    </thead>
    <tbody>
        <% @resultados.each do |res| %>
            <tr>
                <td><%= res[:cedis] %></td>
                <td><%= res[:buen] %></td>
                <td><%= res[:bajo] %></td>
                <td><%= res[:total] %></td>
                <% if (res[:porcentaje] >= 0) and (res[:porcentaje] <= 19.99) %>
                    <td style="background-color:rgb(226, 91, 50);text-align:center;"><%=number_to_percentage(res[:porcentaje]) %></td>

                    <% elsif (res[:porcentaje] >= 20) and (res[:porcentaje] <= 49.99) %>
                    <td style="background-color:rgb(226, 179, 50);text-align:center;"><%= number_to_percentage(res[:porcentaje]) %></td>

                    <% elsif (res[:porcentaje] >= 50) and (res[:porcentaje] <= 79.99) %>
                    <td style="background-color:rgb(147, 214, 22);text-align:center;"><%= number_to_percentage(res[:porcentaje]) %></td>
                
                    <% elsif (res[:porcentaje] >= 80) and (res[:porcentaje] <= 100) %>
                    <td style="background-color:rgb(76, 228, 17);text-align:center;"><%= number_to_percentage(res[:porcentaje]) %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<script>
    var options = {
        responsive: true,
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };

    var arr_colores = [];
    for (var index = 0; index < 2; index++) {
        var o = Math.round, r = Math.random, s = 255;
        var piv = 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + "0.7" + ')';
        color = piv;
        arr_colores.push(piv);
    };
    var densityData = {
        label: ['Cantidad'],
        data: [<%= @total_grafica %>,<%= @percentaje_grafica.round(2) %>],
        backgroundColor: arr_colores,
    };
   
    var barChart = new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: ["Total vehículos","Porcentaje %"],
            datasets: [densityData],
        },
        options: options
    });
</script>