<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_consumption.vehicle_id %>
</p>

<p>
  <strong>Tarjeta:</strong>
  <%= @vehicle_consumption.tarjeta %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @vehicle_consumption.placa %>
</p>

<p>
  <strong>Catalog brand:</strong>
  <%= @vehicle_consumption.catalog_brand_id %>
</p>

<p>
  <strong>Catalog area:</strong>
  <%= @vehicle_consumption.catalog_area_id %>
</p>

<p>
  <strong>Estacion:</strong>
  <%= @vehicle_consumption.estacion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @vehicle_consumption.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @vehicle_consumption.hora %>
</p>

<p>
  <strong>Despacho:</strong>
  <%= @vehicle_consumption.despacho %>
</p>

<p>
  <strong>Bomba:</strong>
  <%= @vehicle_consumption.bomba %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @vehicle_consumption.producto %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @vehicle_consumption.cantidad %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @vehicle_consumption.monto %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @vehicle_consumption.customer_id %>
</p>

<p>
  <strong>Datos:</strong>
  <%= @vehicle_consumption.datos %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @vehicle_consumption.responsable_id %>
</p>

<p>
  <strong>Odometro:</strong>
  <%= @vehicle_consumption.odometro %>
</p>

<p>
  <strong>Rendimiento:</strong>
  <%= @vehicle_consumption.rendimiento %>
</p>

<p>
  <strong>Recorrido:</strong>
  <%= @vehicle_consumption.recorrido %>
</p>

<%= link_to 'Edit', edit_vehicle_consumption_path(@vehicle_consumption) %> |
<%= link_to 'Back', vehicle_consumptions_path %>
