  <br>
  <div class="container">
    <div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Bitácora de mantemiento</h3>
      </div>
      <div class="float-right">
      </div>
    </div>
    <div class="card-body">
      <div class="container">
            <% if @usuario_cedis != nil %>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-family: Arial; font-size:18px;">Empresa:&nbsp;<%= @usuario_cedis.catalog_branch.catalog_company.nombre %></label> 
            </div>
            <div class="row">
              <label class="col-sm-4 col-form-label" style="font-family: Arial; font-size:18px;">CEDIS:&nbsp;<%= @usuario_cedis.catalog_branch.decripcion%></label>
            </div>
          <% end %>
        <br>
        <%= form_tag maintenance_logs_path, :method => :get do %>
        <div class="row">
            <div class="col">
                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">No. Económico: </label>
                <%= text_field_tag :keyword, params[:keyword], class:"form-control" %>
            </div>
            <div class="col">
              <br><br>
              <%= submit_tag "Buscar", class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Clave</th>
            <th>No. Económico</th>
            <th>Tipo de vehículo</th>
            <th>Línea</th>
            <th>Área</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @maintenance_logs.each do |maintenance_log| %>
            <tr>
              <td><%= maintenance_log.clave %></td>
              <td><%= maintenance_log.vehicle.numero_economico %></td>
              <td><%= maintenance_log.vehicle.vehicle_type.descripcion %></td>
              <td><%= maintenance_log.vehicle.catalog_brand.descripcion %></td>
              <td><%= maintenance_log.vehicle.catalog_area.descripcion %></td>
              <td><%= maintenance_log.vehicle.catalog_personal.nombre %></td>
              <td><%= maintenance_log.fecha %></td>
              <td>
                <div class="dropdown dropdown-inline">
                  <%= link_to maintenance_log, title: "Ver detalle" do %>
                  <span class='far fa-file-alt' style='font-size:16px;color:#A6ACAF'></span>
                  </span>
                  <% end %>
                </div>
              </td>
              <!-- <% if can? :edit, MaintenanceLog %>
                <td>
                  <div class="dropdown dropdown-inline">
                    <%= link_to edit_maintenance_log_path(maintenance_log), title: "Editar" do %>
                    <span class="svg-icon svg-icon-md"> 
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                    viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                    fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) ">
                    </path>
                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                    </g>
                    </svg> 
                    </span>
                    <% end %>
                  </div>
                </td>
              <% end %> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>