<%= form_with(model: workshop_certification, local: true) do |form| %>
  <% if workshop_certification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop_certification.errors.count, "error") %> prohibited this workshop_certification from being saved:</h2>

      <ul>
        <% workshop_certification.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="float-right">
    <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
  </div>
  <br><br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">No. ticket:</label>
    <div class="col-sm-0">
      <%= form.text_field :numero_ticket, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Taller*</label>
    <div class="col-sm-0">
      <%= collection_select(:workshop_certification,:catalog_workshop_id ,CatalogWorkshop.listado_talleres, :id, :nombre_taller, {prompt:"Seleccione el taller"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Fecha de certificación:</label>
    <div class="col-sm-0">
      <div class="input-group date" id="datetimepicker7" data-target-input="nearest" data-date-format="DD/MM/YYYY">
        <%= form.text_field :fecha, class: "form-control datetimepicker-input", required:true%>
        <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Condición de pago:</label>
    <div class="col-sm-0">
      <%= form.text_field :condiciones, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>
<% end %>
