<%= form_with(model: budget_distribution, local: true) do |form| %>
  <% if budget_distribution.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(budget_distribution.errors.count, "error") %> prohibited this budget_distribution from being saved:</h2>

      <ul>
        <% budget_distribution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="float-right">
    <%= form.submit "Terminar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
   </div>
   <br><br>
   <div class="row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:18px;">Clave:&nbsp;<%=@budget_distribution.clave %></label>
   </div>
   <div class="row">
    <label class="col-sm-4 col-form-label" style="font-family: Arial; font-size:18px;">CEDIS:&nbsp;<%=@budget_distribution.catalog_branch.decripcion %></label>
   </div>
   <div class="row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:18px;">Área:&nbsp;<%=@budget_distribution.catalog_area.descripcion %></label>
   </div>
   <div class="row">
    <label class="col-sm-4 col-form-label" style="font-family: Arial; font-size:18px;">Fecha entrega estimada:&nbsp;<%=l @budget_distribution.fecha_entrega %></label>
   </div>
   <div class="row">
    <label class="col-sm-4 col-form-label" style="font-family: Arial; font-size:18px;">Fecha compra estimada:&nbsp;<%=l @budget_distribution.fecha_compra %></label>
   </div>
  <div id="contenedor_partidas">
    <%= render "partidas" %>
  </div>
 
<% end %>
