<%= form_with(model: agency_mileage_indicator, local: true) do |form| %>
  <% if agency_mileage_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agency_mileage_indicator.errors.count, "error") %> prohibited this agency_mileage_indicator from being saved:</h2>

      <ul>
        <% agency_mileage_indicator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :km_actual %>
    <%= form.text_field :km_actual %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.text_field :vehicle_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
