<%= form_for(@cedis_user, url: asignar_cedis_path, method: "POST", remote: true, authenticity_token: true) do |f| %>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <%= f.label :user_id, "Usuario" %>
            <%= f.select(:user_id, options_for_select(@usuarios.map{ |x| [x.nombre_completo, x.id]}), {}, { class: 'form-control m-input m-input--air uneditable-input chosen-select' }) %>
        </div>
        <div class="form-group col-lg-6">
            <%=  f.label 'Empresa*' %>
            <%= collection_select('', :catalog_company_id, CatalogCompany.listado_empresas,:id, :nombre, {prompt:"Seleccione una empresa"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
        </div>
        <div class="form-group col-lg-6">
            <%= f.label :catalog_branch_id, "CEDIS" %>
            <select name="catalog_branch_id" id="catalog_branch_id" class="form-control m-input m-input--air uneditable-input chosen-select">
                <option value="">Seleccione el cedis</option>
             </select>         
        </div>
    </div>
    <div class="float-right">
        <%= f.submit "Listo", class: "btn btn-brand btn-elevate btn-icon-sm blanco", data: { turbolinks: false } %>
    </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
    $("#catalog_company_id").change(function(){
    var empresa = $(this).val();
    $.ajax({
    type: "POST",
    url: "<%= cedis_x_empresa_siniestralidad_path %>",
    data: {empresa: empresa, authenticity_token: $('meta[name=csrf-token]').attr('content')}
    })
    })
    })
  </script>