<%= form_with(model: catalog_licence, local: true) do |form| %>
  <% if catalog_licence.errors.any? %>
  <div class="alert alert-danger">Error al registrar:
    <div id="error_explanation">
      <ul>
        <% catalog_licence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="float-right">
    <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
   </div>
  <br><br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Clave:</label>
    <div class="col-sm-0">
      <%= form.text_field :clave, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Usuario*</label>
    <div class="col-sm-0">
      <%= collection_select(:catalog_licence,:user_id ,User.listado_usuarios, :id, :nombre_completo, {prompt:"Usuario del vehículo"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">No. Económico*</label>
    <div class="col-sm-0">
      <%= collection_select(:catalog_licence,:vehicle_id ,Vehicle.listado_vehiculos, :id, :numero_economico, {prompt:"Vehículo"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Tipo:</label>
    <div class="col-sm-0">
      <%= form.text_field :descripcion, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">No. Licencia:</label>
      <div class="col-sm-0">
        <%= form.text_field :numero_licencia, class: "form-control", style:"width: 250px !important;" %>
      </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Fecha vigencia:</label>
    <div class="col-sm-0">
      <div class="input-group date" id="datetimepicker7" data-target-input="nearest" data-date-format="DD/MM/YYYY">
        <%= form.text_field :fecha_vencimiento, class: "form-control datetimepicker-input"%>
          <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
      </div>
    </div>
  </div>
  
<% end %>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker7').datetimepicker({
      format: 'DD/MM/YYYY',
      locale: 'es'
      });
  });
</script>