<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="float-right">
    <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
    </div>
    <br>
    <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Clave:</label>
    <div class="col-sm-0">
      <%= form.text_field :clave, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Empresa*</label>
    <div class="col-sm-0">
      <%= collection_select(:customer,:catalog_company_id ,CatalogCompany.listado_empresas, :id, :nombre, {prompt:"Seleccione la empresa"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>

    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Cedis*</label>
    <div class="col-sm-0">
      <%= collection_select(:customer,:catalog_branch_id ,CatalogBranch.listado_cedis, :id, :decripcion, {prompt:"Seleccione el cedis"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Estatus:</label>
    <div class="col-sm-0">
      <%= select_tag 'customer[estatus]', options_for_select([["Activo" , 1],["Inactivo", 0]]),{ class: "form form-group form-control" }%>

    </div>
  </div>
<% end %>
