<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="card-header ">
            <div class="card-title">
                <h3 class="card-label">Tickets de siniestralidad
                    <span class="text-muted pt-2 font-size-sm d-block">Registro de tickets reportados por aseguradora</span>
                </h3>
            </div>
            <div class="float-right">
                  <br>        
                    <% if can? :new, InsuranceReportTicket %>
                      <%= link_to 'Nuevo',  new_insurance_report_ticket_path, id: "btn_nueva_empresa",class:"btn btn-primary font-weight-bolder",style:"border-radius: 0.42rem;", data: { turbolinks: false } %>
                    <% end %>
          	</div>
        </div>
        <div class="card-body">
            <%=form_for('', url: filtrado_tickets_aseguradora_path, remote: true) do |f|%>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">No. Económico: </label>
                        <%= text_field_tag :keyword, params[:keyword], class:"form-control" %>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">CEDIS:</label>
                        <%= collection_select('',:catalog_branch_id ,CatalogBranch.listado_cedis, :decripcion, :decripcion, {prompt:"Seleccione el cedis"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Estatus:</label>
                        <%= f.select(:status,  [['Todos', 'Todos'],['Abierto', 1],['Cancelado', 0],['Cerrado', 2]], {}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Fecha inicio: </label>
                        <div class="input-group date" id="datetimepicker7" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" name="start_date" id="start_date">
                            <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Fecha fin: </label>
                        <div class="input-group date" id="datetimepicker8" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" name="end_date" id="end_date">
                            <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">¿Registró?:</label>
                        <%= f.select(:registro,  [['Todos', 'Todos'],['Aseguradora', 1],['Administrador', 2]], {}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Tipo de siniestro:</label>
                        <%= f.select(:siniestro,  options_from_collection_for_select(@tipos_siniestro, "id", "nombreSiniestro"), {prompt: "Todos"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <br><br>
                    </div>
                    <div class="col-lg-4">
                        <br><br>
                        <div>
                            <%= submit_tag "Buscar", class:"btn btn-primary" %>
                            &nbsp;
                            <%= link_to 'Exportar a excel' ,reporte_tickets_siniestrabilidad_excel_path, class: "btn btn-default" %>
                            &nbsp;
                            <!-- <% if can? :corte_ticket_aseguradora, InsuranceReportTicket %>
                                <%= link_to 'Realizar corte' , corte_ticket_aseguradora_path, class: "btn btn-default", data: {confirm: "¿Deseas realizar el corte con los tickets seleccionados? Esta operación no se puede cancelar."} %>
                            <% end %> -->
                        </div>
                    </div>
                </div>
            <% end %>
            <div style="width: 100%" id="table_container">
			    <%= render  "tabla" %>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'es'
        });
        $('#datetimepicker8').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'es',
        useCurrent: false
        });
        
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
</script>