<br>
<div class="container">
  <div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Bitácora de vehículos</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <%= form_tag vehicle_logs_path, :method => :get do %>
      <div class="row">
          <div class="col">
            <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">No. Económico: </label>
            <%= text_field_tag :numero, params[:numero], class:"form-control" %>
          </div>
          <div class="col">
              <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Fecha: </label>
                <div class="input-group date" id="datetimepicker7" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" name="start_date" id="start_date">
                    <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
          </div>
          <div class="col">
            <br><br>
            <%= submit_tag "Buscar", class:"btn btn-primary" %>
          </div>
      </div>
      <% end %>
    </div>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Usuario</th>
          <th>No. Económico</th>
          <th>Fecha y hora</th>
        </tr>
      </thead>
      <tbody>
        <% @vehicle_logs.each do |vehicle_log| %>
          <tr>
            <td><%= vehicle_log.texto %></td>
            <td style="width:20%"><%= vehicle_log.user.name%> <%=vehicle_log.user.last_name%></td>
            <td><%= vehicle_log.vehicle.numero_economico %></td>
            <td style="width:15%"><%= vehicle_log.created_at.strftime('%d/%m/%y %I:%M %p') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>