<%= form_with(model: vehicle_indicator, local: true) do |form| %>
  <% if vehicle_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle_indicator.errors.count, "error") %> Error al registrar:</h2>

      <ul>
        <% vehicle_indicator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="float-right">
  <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
  </div>
  <br>
  <br>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Vehículo*</label>
    <div class="col-sm-0">
      <%= collection_select(:vehicle_indicator,:vehicle_type_id ,VehicleType.listado_tipos, :id, :descripcion, {prompt:"Escribe el tipo de vehiculo"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>     
    </div>
  </div>
  
 

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Días habiles:</label>
    <div class="col-sm-0">
      <%= form.text_field :dias_habiles, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>



<% end %>
