<%= form_with(model: tuning_price, local: true) do |form| %>
  <% if tuning_price.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(tuning_price.errors.count, "error") %> Error al registrar:</h2>

      <ul>
        <% tuning_price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="float-right">
    <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
   </div><br><br><br>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Clave:</label>
    <div class="col-sm-4">
      <%= form.text_field :clave, class: "form-control", style:"width: 395x !important;" %>
    </div>
  </div>  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Empresa*</label>
    <div class="col-sm-4">
      <%= collection_select('', :catalog_company_id, CatalogCompany.listado_empresas,:id, :nombre, {prompt:"Escribe el nombre de la empresa"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">CEDIS*</label>
    <div class="col-sm-4">
      <%= collection_select(:tuning_price,:catalog_branch_id ,CatalogBranch.listado_cedis, :id, :decripcion, {prompt:"Seleccione el cedis"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Línea*</label>
    <div class="col-sm-4">
      <%= collection_select(:tuning_price,:catalog_brand_id ,CatalogBrand.listado_lineas, :id, :descripcion, {prompt:"Seleccione la linea"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Taller*</label>
    <div class="col-sm-4">
      <%= collection_select(:tuning_price,:catalog_workshop_id ,CatalogWorkshop.listado_talleres, :id, :nombre_taller, {prompt:"Seleccione el taller"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
    </div>
  </div>
 <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Año:</label>
    <div class="col-sm-4">
      <%= form.text_field :anio, class: "form-control", style:"width: 395x !important;",required: true%>
    </div>
  </div> 
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Precio menor:</label>
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            </div>
            <%= form.number_field :precio_menor, step: :any,class: "form-control", style:"width: 250px !important;" %>
        </div>
    </div>
  </div> 

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Precio mayor con bujías:</label>
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            </div>
            <%= form.number_field :precio_mayor, step: :any,class: "form-control", style:"width: 250px !important;" %>
        </div>
    </div>
  </div> 
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Precio mayor sin bujías :</label>
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            </div>
            <%= form.number_field :precio_mayor_sin, step: :any,class: "form-control", style:"width: 250px !important;" %>
        </div>
    </div>
  </div> 
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Estatus:</label>
    <div class="col-sm-4">
      <div class="form-group col-lg-0">
          <label class="switch">
          <input type="checkbox" name="tuning_price[status]" <% if @tuning_price.status%> checked<%end%>>
          <span class="slider round"></span>
          </label>
      </div>
   </div>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
      $('.input-group.date').datetimepicker({
          locale: 'es',
      });
  });
  $(document).ready(function(){
      $("#catalog_company_id").change(function(){
          var empresa = $(this).val();
          $.ajax({
              type: "POST",
              url: "<%= cedis_x_empresa_lista_path %>",
              data: {empresa: empresa, authenticity_token: $('meta[name=csrf-token]').attr('content')}
          })
      })
     
  })
</script>
<style>
  .switch input:checked ~ span:after {
    opacity: 1;
    color: #ffffff;
    background-color:#ffffff;
}
.switch input:empty ~ span:before {
    background-color: #ccc;
}
.switch input:checked ~ span:before {
    background-color: #1bc5bd;
}
input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
</style>