<%= form_with(model: accounting_impact, local: true) do |form| %>
  <% if accounting_impact.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(accounting_impact.errors.count, "error") %> Error al registrar:</h2>

      <ul>
        <% accounting_impact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="float-right">
  <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
  </div>
  <br>
  <br>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">CEDIS*</label>
    <div class="col-sm-0">
      <%= collection_select(:accounting_impact,:catalog_branch_id ,CatalogBranch.listado_cedis, :id, :decripcion, {prompt:"Escribe el nombre de CEDIS"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>     
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Cuenta contable:</label>
    <div class="col-sm-0">
      <%= form.text_field :nombre, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Tipo afectación*</label>
    <div class="col-sm-0">
      <%= form.select :cuenta_contable, [
      ["Seleccione una cuenta contable", ""], 
      "Adaptaciones","Combustible","Compras","Mantenimiento y equipo de transporte",
      "Mantenimiento y maquinaria","Maquinaria y equipo","Otros gastos","Permisos","Plaqueo","Rotulación","Seguros"],
      {}, { class: "form form-group form-control" } %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Área*</label>
    <div class="col-sm-0">
      <%= collection_select(:accounting_impact,:catalog_area_id ,CatalogArea.listado_areas, :id, :descripcion, {prompt:"Seleccione el Area"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>     
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Estatus:</label>
    <div class="col-sm-0">
    <div class="form-group col-lg-6">
      <label class="switch">
      <input type="checkbox" name="accounting_impact[status]" <% if @accounting_impact.status%> checked<%end%>>
      <span class="slider round"></span>
      </label>
      </div>
  </div>
  </div>

<% end %>
<style>
  .switch input:checked ~ span:after {
    opacity: 1;
    color: #ffffff;
    background-color:#ffffff;
}
.switch input:empty ~ span:before {
    background-color: #ccc;
}
.switch input:checked ~ span:before {
    background-color: #1bc5bd;
}
</style>