<p id="notice"><%= notice %></p>

<p>
  <strong>Catalog brand:</strong>
  <%= @catalog_tires_battery.catalog_brand_id %>
</p>

<p>
  <strong>Medida:</strong>
  <%= @catalog_tires_battery.medida %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @catalog_tires_battery.modelo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @catalog_tires_battery.precio %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @catalog_tires_battery.tipo %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @catalog_tires_battery.moneda %>
</p>

<p>
  <strong>Dls:</strong>
  <%= @catalog_tires_battery.dls %>
</p>

<%= link_to 'Edit', edit_catalog_tires_battery_path(@catalog_tires_battery) %> |
<%= link_to 'Back', catalog_tires_batteries_path %>
