<table class="table table-bordered table-striped table-sm text-center table-hover">
    <thead>
        <tr>
            <th>Tipo/zona fiscal</th>
            <th>Descripción</th>
            <th>Valor(%)</th>
            <th>Cuenta</th>
            <th>Estatus</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @tasas.each do |valuation| %>
            <tr>
                <td><%= valuation.tipo_zona %></td>
                <td><%= valuation.descripcion %></td>
                <td><%= valuation.valor %></td>
                <td><%= valuation.cuenta %></td>
                <td><%= valuation.estatus ? "Activo" : "Inactivo" %></td>
               <td>
                    <div class="dropdown dropdown-inline">
                        <%= link_to valuation_path(valuation.id), title:"Ver asignaciones" do %>
                            <span class='fas fa-eye' style='font-size:16px;color:#A6ACAF'></span>
                        <% end %>
                    </div>
               </td>
                <td>
                    <div class="dropdown dropdown-inline">
                        <%= link_to modal_actualizar_tasa_path(valuation.id), title: "Ver detalle", remote: true do %>
                            <span class="svg-icon svg-icon-md"> 
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) ">
                                        </path>
                                        <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                    </g>
                                </svg> 
                            </span>
                        <% end %>
                    </div>
               </td>
               <td>
                    <div class="dropdown dropdown-inline">
                        <%
                            if valuation.estatus
                                nombre_boton = "Desactivar"
                            else
                                nombre_boton = "Activar"
                            end
                        %>
                        <%= link_to valuation_path(valuation.id), title: nombre_boton, method: :delete, data: { confirm: '¿Deseas cambiar el estatus de este registro?' }, remote: true do %>
                            <% if valuation.estatus %>
                                <span class='fas fa-times' style='font-size:16px;color:#A6ACAF'></span>
                            <% else %>
                                <span class='fas fa-check' style='font-size:16px;color:#A6ACAF'></span>
                            <% end %>
                        <% end %>
                    </div>
               </td>
            </tr>
        <% end %>
    </tbody>
</table>