<canvas id="bar-chart" width="350" height="150"></canvas>
<br>
<%= link_to  'Exportar a excel' ,generar_excel_respuestas_path, target: "_blank", class: "btn btn-primary float-right" %>
<br><br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Taller</th>
            <th>No. respuestas</th>
        </tr>
    </thead>
    <tbody>
        <% @indicador.each do |res| %>
            <tr>
                <td><%= res[:nombre]%></td>
                <td><%= res[:respuesta] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<script>
    var options = {
        responsive: true,
        scales: {
            yAxes: [{
                display: true,
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };
    var arr_nombres = [];
    var arr_colores = [];

    <% @nombres_taller.each do |x| %>
        arr_nombres.push("<%= x %>");
    <% end %>

    for (var index = 0; index < 100; index++) {
        var o = Math.round, r = Math.random, s = 255;
        var piv = 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + "0.7" + ')';
        color = piv;
        arr_colores.push(piv);
    };
    var barChart = new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: ["# Respuestas"],
            datasets: [
              <% @resultados.each_with_index  do |res,index| %>
                {
                    label: ["<%= res[0]%>"],
                    data: [<%= res[1]%>],
                    borderColor: arr_colores[<%= index %>],
                    backgroundColor: arr_colores[<%= index %>],
                },
              <% end %>
            ]
        },
        options: options
    });  
 
   
</script>