<div class="form-row">
    <div class="form-group col-lg-6">
        <div class="row">
            <label class="col-sm-8 col-form-label" style="font-family: Arial; font-size:16px;"><strong>Servicio de kms:&nbsp;</strong> <%= number_with_precision(@ultimo_km.km_actual,precision: 0)  %></label> 
        </div>
    </div>
   
  </div>
    <table class="table table-bordered">
      <thead>
          <tr>
              <th colspan="3" style="text-align: center;"><%= @service_orders.vehicle.catalog_brand.descripcion %></th>
              <th style="text-align: center;">Tipo de frecuencia</th>
              <th style="text-align: center;">Frecuencia para reemplazo</th>
              <th style="text-align: center;">Frecuencia para inspección</th>
              <th style="text-align: center;" >Servicio a realizar</th>
          </tr>
      </thead>
      <tbody>
          <% @resultados.each do |res| %>
              <tr> 
                  <% if res[:tipo_afinacion] == "Afinación mayor" %>
                      <td style="background-color: #888787;text-align:center;"><b><%= res[:tipo_afinacion] %></b></td>
                  <% else %>
                      <td style="background-color: #B2B2B2;text-align:center;"><b><%= res[:tipo_afinacion] %></b></td>
                  <% end %>
                  <td><%= res[:nombre_concepto] %></td>
                  <td><%= res[:accion] %></td>
                  
                  <% if res[:tipo] == "Meses"%>
                      <td><%= res[:tipo]%>: <%= @mes%> </td>
                  <% else%>
                      <td><%= res[:tipo]%></td>
                  <% end %>
                  
                  <td><%= number_with_precision( res[:frecuencia_r], precision: 2) %></td>
                  <td><%= number_with_precision( res[:frecuencia_i], precision: 2) %></td>
                  <td><%= res[:servicio] %></td>
              </tr>
          <% end%>
      </tbody>
    </table>