<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label float-left">Crear control de mantenimiento</h3>
                        <%= link_to 'Regresar' ,service_orders_path , class: "btn btn-default float-right" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <%= form_for('', url: registrar_control_path,method: :post, remote: true,authenticity_token: true) do |form|%>
                <div class="float-right">
                    <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
                </div><br><br><br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Vehículo*</label>
                    <div class="col-sm-0">
                        <%= collection_select('',:vehicle_id ,Vehicle.listado_vehiculos, :id, :numero_economico,{prompt:"Seleccione el numero economico",selected:@service_order.vehicle_id}, {:class => " form-control m-input m-input--air uneditable-input chosen-select",disabled:true})%>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Mes:</label>
                    <div class="col-sm-0">
                    <div class="input-group date" id="datetimepicker9" data-target-input="nearest" data-date-format="MMMM">
                        <%= form.text_field :mes_pago, class: "form-control datetimepicker-input",disabled:true,value: I18n.l(Date.today,format: '%B')%>
                        <div class="input-group-append" data-target="#datetimepicker9" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                    </div>
                </div>
                <% if @service_order.catalog_workshop_id %>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Taller*</label>
                        <div class="col-sm-0">
                            <%= collection_select('',:catalog_workshop_id ,CatalogWorkshop.listado_talleres, :id, :nombre_taller, {prompt:"Seleccione el taller",selected:@service_order.catalog_workshop_id}, {:class => " form-control m-input m-input--air uneditable-input chosen-select",disabled:true})%>
                        </div>
                    </div>
                <% else %>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Proveedor*</label>
                        <div class="col-sm-0">
                            <%= collection_select('',:catalog_vendor_id ,CatalogVendor.listado_proveedor, :id, :razonsocial, {prompt:"Seleccione el proveedor",selected:@service_order.catalog_vendor_id}, {:class => " form-control m-input m-input--air uneditable-input chosen-select",disabled: true})%>
                        </div>
                    </div>
                <% end %>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Reparación*</label>
                    <div class="col-sm-0">
                    <%= collection_select('',:catalog_repair_id ,CatalogRepair.listado_reparaciones, :id, :subcategoria, {prompt:"Seleccione la reparacion"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Observaciones:</label>
                    <div class="col-sm-0">
                    <%= form.text_area :observaciones, class: "form-control", style:"width: 250px !important;" %>
                    </div>
                </div>       
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Fecha:</label>
                    <div class="col-sm-0">
                        <div class="input-group date" id="datetimepicker7" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                            <%= form.text_field :fecha_factura, class: "form-control datetimepicker-input",disabled:true,value:Date.today.strftime('%d/%m/%Y')%>
                            <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Año:</label>
                    <div class="col-sm-0">
                        <div class="input-group date" id="datetimepicker8" data-target-input="nearest" data-date-format="YYYY">
                            <%= form.text_field :año, class: "form-control datetimepicker-input",value:Date.today.year,disabled:true%>
                            <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Importe:</label>
                    <div class="col-sm-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <% if @service_order.factura.attached? %>
                                <%= form.number_field :importe, step: :any%>
                            <% else %>
                                <%= form.number_field :importe, step: :any, value:0%>
                            <% end %>
                        </div>
                    </div>
                </div>       
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Importe con I.V.A:</label>
                    <div class="col-sm-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <% if @service_order.factura.attached? %>
                                <%= form.number_field :importe_iva, step: :any%>
                            <% else %>
                                <%= form.number_field :importe_iva, step: :any, value:0%>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">KM actual:</label>
                    <div class="col-sm-0">
                        <%= form.number_field :km_actual, class: "form-control", style:"width: 250px !important;",value:@service_order.km_actual %>
                    </div>
                </div>        
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Ciudad:</label>
                    <div class="col-sm-0">
                        <%= form.text_field :ciudad, class: "form-control", style:"width: 250px !important;" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>