<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @monthly_yield.vehicle_id %>
</p>

<p>
  <strong>Catalog branch:</strong>
  <%= @monthly_yield.catalog_branch_id %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @monthly_yield.vehicle_type_id %>
</p>

<p>
  <strong>Catalog model:</strong>
  <%= @monthly_yield.catalog_model_id %>
</p>

<p>
  <strong>Catalog brand:</strong>
  <%= @monthly_yield.catalog_brand_id %>
</p>

<p>
  <strong>Cierre enero:</strong>
  <%= @monthly_yield.cierre_enero %>
</p>

<p>
  <strong>Recorrido enero:</strong>
  <%= @monthly_yield.recorrido_enero %>
</p>

<p>
  <strong>Lts enero:</strong>
  <%= @monthly_yield.lts_enero %>
</p>

<p>
  <strong>Cierre febrero:</strong>
  <%= @monthly_yield.cierre_febrero %>
</p>

<p>
  <strong>Recorrido febrero:</strong>
  <%= @monthly_yield.recorrido_febrero %>
</p>

<p>
  <strong>Lts febrero:</strong>
  <%= @monthly_yield.lts_febrero %>
</p>

<p>
  <strong>Cierre marzo:</strong>
  <%= @monthly_yield.cierre_marzo %>
</p>

<p>
  <strong>Recorrido marzo:</strong>
  <%= @monthly_yield.recorrido_marzo %>
</p>

<p>
  <strong>Lts marzo:</strong>
  <%= @monthly_yield.lts_marzo %>
</p>

<p>
  <strong>Cierre abril:</strong>
  <%= @monthly_yield.cierre_abril %>
</p>

<p>
  <strong>Recorrido abril:</strong>
  <%= @monthly_yield.recorrido_abril %>
</p>

<p>
  <strong>Lts abril:</strong>
  <%= @monthly_yield.lts_abril %>
</p>

<p>
  <strong>Cierre mayo:</strong>
  <%= @monthly_yield.cierre_mayo %>
</p>

<p>
  <strong>Recorrido mayo:</strong>
  <%= @monthly_yield.recorrido_mayo %>
</p>

<p>
  <strong>Lts mayo:</strong>
  <%= @monthly_yield.lts_mayo %>
</p>

<p>
  <strong>Cierre junio:</strong>
  <%= @monthly_yield.cierre_junio %>
</p>

<p>
  <strong>Recorrido junio:</strong>
  <%= @monthly_yield.recorrido_junio %>
</p>

<p>
  <strong>Lts junio:</strong>
  <%= @monthly_yield.lts_junio %>
</p>

<p>
  <strong>Cierre julio:</strong>
  <%= @monthly_yield.cierre_julio %>
</p>

<p>
  <strong>Recorrido julio:</strong>
  <%= @monthly_yield.recorrido_julio %>
</p>

<p>
  <strong>Lts julio:</strong>
  <%= @monthly_yield.lts_julio %>
</p>

<p>
  <strong>Cierre agosto:</strong>
  <%= @monthly_yield.cierre_agosto %>
</p>

<p>
  <strong>Recorrido agosto:</strong>
  <%= @monthly_yield.recorrido_agosto %>
</p>

<p>
  <strong>Lts agosto:</strong>
  <%= @monthly_yield.lts_agosto %>
</p>

<p>
  <strong>Cierre septiembre:</strong>
  <%= @monthly_yield.cierre_septiembre %>
</p>

<p>
  <strong>Recorrido septiembre:</strong>
  <%= @monthly_yield.recorrido_septiembre %>
</p>

<p>
  <strong>Lts septiembre:</strong>
  <%= @monthly_yield.lts_septiembre %>
</p>

<p>
  <strong>Cierre octubre:</strong>
  <%= @monthly_yield.cierre_octubre %>
</p>

<p>
  <strong>Recorrido octubre:</strong>
  <%= @monthly_yield.recorrido_octubre %>
</p>

<p>
  <strong>Lts octubre:</strong>
  <%= @monthly_yield.lts_octubre %>
</p>

<p>
  <strong>Cierre noviembre:</strong>
  <%= @monthly_yield.cierre_noviembre %>
</p>

<p>
  <strong>Recorrido noviembre:</strong>
  <%= @monthly_yield.recorrido_noviembre %>
</p>

<p>
  <strong>Lts noviembre:</strong>
  <%= @monthly_yield.lts_noviembre %>
</p>

<p>
  <strong>Cierre diciembre:</strong>
  <%= @monthly_yield.cierre_diciembre %>
</p>

<p>
  <strong>Recorrido diciembre:</strong>
  <%= @monthly_yield.recorrido_diciembre %>
</p>

<p>
  <strong>Lts diciembre:</strong>
  <%= @monthly_yield.lts_diciembre %>
</p>

<p>
  <strong>Rendi enero:</strong>
  <%= @monthly_yield.rendi_enero %>
</p>

<p>
  <strong>Rendi febrero:</strong>
  <%= @monthly_yield.rendi_febrero %>
</p>

<p>
  <strong>Rendi marzo:</strong>
  <%= @monthly_yield.rendi_marzo %>
</p>

<p>
  <strong>Rendi abril:</strong>
  <%= @monthly_yield.rendi_abril %>
</p>

<p>
  <strong>Rendi mayo:</strong>
  <%= @monthly_yield.rendi_mayo %>
</p>

<p>
  <strong>Rendi junio:</strong>
  <%= @monthly_yield.rendi_junio %>
</p>

<p>
  <strong>Rendi julio:</strong>
  <%= @monthly_yield.rendi_julio %>
</p>

<p>
  <strong>Rendi agosto:</strong>
  <%= @monthly_yield.rendi_agosto %>
</p>

<p>
  <strong>Rendi septiembre:</strong>
  <%= @monthly_yield.rendi_septiembre %>
</p>

<p>
  <strong>Rendi octubre:</strong>
  <%= @monthly_yield.rendi_octubre %>
</p>

<p>
  <strong>Rendi noviembre:</strong>
  <%= @monthly_yield.rendi_noviembre %>
</p>

<p>
  <strong>Rendi diciembre:</strong>
  <%= @monthly_yield.rendi_diciembre %>
</p>

<%= link_to 'Edit', edit_monthly_yield_path(@monthly_yield) %> |
<%= link_to 'Back', monthly_yields_path %>
