    <div class="card-body">
      <h3 style="text-align: center;">COSTOS MANTENIMIENTOS Y REPARACIONES DEL VEHÍCULO < 5,000 ULTIMOS 2 AÑOS</h3>
      <br>
      <table id="table" class="table table-bordered">
          <tr>
          <th>Año</th>
          <th>Reparación</th>
          <th>Detalle</th>
          <th>Importe</th>
          <!-- <th>Importe con I.V.A</th> -->
        </tr>
      </thead>
      <tbody>
        <% @maintenance_controls.each do |maintenance_control| %>
          <tr>
            <% if maintenance_control.catalog_repair_id %>
              <td><%= maintenance_control.año %></td>
              <td><%= maintenance_control.catalog_repair.subcategoria%></td>
              <td><%= maintenance_control.catalog_repair.categoria%></td>
              <td><%= number_to_currency(maintenance_control.importe) %></td>
            <% end %>
          </tr> 
        <% end %>
        <tr> 
          <th colSpan="3"> Total</th>
          <td> <%= number_to_currency(@maintenance_controls_sum) %></td>
        </tr>
      </tbody>
      </table>
      
      <br><br>
      <h3 style="text-align: center;">COSTOS MANTENIMIENTOS Y REPARACIONES DEL VEHÍCULO > 5,000 ULTIMOS 2 AÑOS</h3>
      <br>
      <table id="table2" class="table table-bordered">
      <tr>
        <th>Año</th>
        <th>Reparación</th>
        <th>Detalle</th>
        <th>Importe</th>
      </tr>
      </thead>
      <tbody>
      <% @maintenances.each do |maintenance| %>
        <% if maintenance.catalog_repair_id %>
          <tr>
            <td><%= maintenance.año %></td>
            <td><%= maintenance.catalog_repair.subcategoria%></td>
            <td><%= maintenance.catalog_repair.categoria%></td>
            <td><%= number_to_currency(maintenance.importe)%></td>
          </tr>
        <% end %>
      <% end %>
      <tr> 
        <th colSpan="3"> Total</th>
        <td> <%= number_to_currency(@maintenances_sum) %></td>
      </tr>
      </tbody>
      </table><br>
          <div class="container-fluid">
            <div class="row text-white text-center">
              <div class="col-4">
                <table class="table table-bordered" style="float: left; width:30%">
                  <tbody>
                    <tr>
                      <td><strong>Año</strong></td>
                    <% @fechas.each do |fecha| %>
                    <td><%=fecha.año%></td>
                    <% end %>
                    </tr>
                    <tr>
                      <td><strong>Gasto Total</strong></td>
                      <% @gastos.each do |gasto| %>
                      <td ><%=number_to_currency(gasto.sum)%></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td><strong>Km recorridos</strong></td>
                      <% @kilometros.each do |km| %>
                      <td><%=km.sum%></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td><strong>$ x kms</strong></td>
                      <% @calculos.each do |calculo| %>
                      <td><%=number_with_precision(calculo.calculo, precision: 2)%></td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
              <table class="table table-bordered" style="float: left; width:30%">
                <tr>
                <th>Mercado Libre</th>
                <th>Libro Azul </th>
              </tr>
            </thead>
            <tbody>
              <% @costos.each do |cos| %>
                <tr>
                  <td><%= number_to_currency(cos.mercado_libre) %></td>
                  <td><%= number_to_currency(cos.libro_azul)%></td>
                </tr>
              <% end %>
            </tbody>
            </table>
            <hr>
            <table class="table table-bordered" style="float: left; width:30%">
              <tr>
              <th>Reparación</th>
              <th>Costos</th>
            </tr>
          </thead>
          <tbody>
            <% @matenimiento_rehabilitar.each do |mmto| %>
              <tr>
                <td><%= mmto.reparacion %></td>
                <td><%= number_to_currency(mmto.costo)%></td>
              </tr>
            <% end %>
          <tr> 
            <th colSpan="1">Total</th>
            <td> <%= number_to_currency(@mantenimiento_sum)%></td>
          </tr>
          </tbody>
          </table>
          </div>
            <br>
            <table class="table table-bordered">
              <tr>
              <th style="text-align: center;">Fecha inicial de venta</th>
              <th style="text-align: center;">Precio inicial venta </th>
              <th style="text-align: center;">Fecha venta</th>
              <th style="text-align: center;">Precio final de venta</th>
            </tr>
            </thead>
            <tbody>
            <% @encabezado.each do |enc| %>
              <tr>
                <td style="width: 20%;text-align: center;"><%= enc.fecha_inicial.strftime('%d/%m/%y') %></td>
                <td  style="text-align: center;"><%= number_to_currency(enc.precio_inicial) %></td>
                <td style="width: 20%;text-align: center;"><%= enc.fecha_venta.strftime('%d/%m/%y')%></td>
                <td style="text-align: center;"><%= number_to_currency(enc.precio_final)%></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>
      
    </div>
