<div class="container">
    <br>
    <br>
    <h1><center>
        <% case view %>    
        <%when "sales" %>
            Vehículos en Venta   
        <%when "transit" %>
            Vehículos en Tránsito   
        <%when "assign" %>   
            Vehículos por Asignar   
        <%when "assigned" %>   
            Vehículos  Asignados   
        <%when "receive" %>  
            Vehículos para Recibir   
         <%else%>                
          Título
        <%end%>                
      
        </center> </h1>


        <div class="row" style="margin-left:2%">
            <div class="col-sm-4">
              <input type="search" placeholder="Buscador" name="search" class="form-control searchbox-input" required="">
            </div>
          </div>
          <br>
    <!--div class="list-group">
        <% ( vehicles || []).each do |vpr| %>            
        <% case view %>    
        <%when "transit" %>   
            <a class="contenedor" href="#" class="list-group-item list-group-item-action">
        <%when "sales" %>   
                <a class="contenedor" href="#" class="list-group-item list-group-item-action">
        <%when "assign" %>   
            <a class="contenedor" href="<%= assign_vehicle_data_path(vpr.id) %>" class="list-group-item list-group-item-action">
        <%when "receive" %>   
            <a class="contenedor" href="<%= vehicle_receive_data_path(vpr.id, vpr.numero_economico, vpr.vehicle_type_id) %>" class="list-group-item list-group-item-action">
        <%when "assigned" %>   
                <a class="contenedor" href="<%= assign_vehicle_data_path(vpr.id) %>" class="list-group-item list-group-item-action">
        <%else%>                
            <a href="#" class="list-group-item list-group-item-action">
        <%end%>                
            <ul class="">
                    <li class="list-group-item vehicle">
                        <div class="card" style="border:white 0px">
                            <div class="card-body">
                                <h6 class="card-title"><label>Tipo de vehículo: <%=  vpr.vehicle_type.descripcion %> </label></h6>
                                <h5 class="card-subtitle mb-2 text-muted"><label>TN° de vehículo: <%=  vpr.numero_economico%></label></h5>
                                <div class="row">
                                    <div class="col-md-6  col-sm-12">
                                        <ul class="">
                                            <li class="list-group-item">Estatus: <%= vpr.vehicle_status.descripcion %></li>
                                            <li class="list-group-item">Placas: <%=  vpr.numero_placa %></li>
                                            <% case view %>    
                                            <%when "sales" %>   
                                            <li class="list-group-item">Fecha venta: <%= vpr.sales[0].try(:fecha_inicial) %></li>
                                            <%end%>
                                        </ul>
                                    </div>
                                    <div class="col-md-6  col-sm-12">
                                        <ul class="">
                                            <li class="list-group-item">Fecha compra: <%=  vpr.fecha_compra %></li>
                                            <li class="list-group-item">Valor de compra: <%=  number_to_currency(vpr.valor_compra, precision: 2) %></li>
                                            <% case view %>    
                                            <%when "sales" %>   
                                            <li class="list-group-item">Valor de venta: <%= 
                                                number_to_currency(vpr.sales[0].try(:precio_inicial), precision: 2) %></li>
                                            
                                            <%end%>                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </li>
                    
                </ul>
            </a>
        <% end %>

    </div-->
    <div class="card card-custom">
        <div class="card-body">

            <div class="container" style="display: none;">
                    <%=form_for('', url: filtrado_maestro_path, remote: true) do |f|%> 
                        <div class="row">
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">No. Económico: </label>
                                <%= text_field_tag :keyword, params[:keyword], class:"form-control" %>
                            </div>
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Empresa:</label>
                                <%= collection_select('', :catalog_company_id, CatalogCompany.listado_empresas,:id, :nombre, {prompt:"Seleccione la empresa"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                            </div>
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">CEDIS:</label>
                                <%= collection_select('',:catalog_branch_id ,CatalogBranch.listado_cedis, :id, :decripcion, {prompt:"Seleccione el cedis"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Área:</label>
                                <%= collection_select('',:catalog_area_id ,CatalogArea.listado_areas, :id, :descripcion, {prompt:"Seleccione la área"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                            </div>
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Tipo de vehículo:</label>
                                <%= collection_select('',:vehicle_type_id ,VehicleType.listado_tipos, :id, :descripcion, {prompt:"Seleccione el tipo de vehículo"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Fecha inicio: </label>
                                <div class="input-group date" id="datetimepicker7" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" name="start_date" id="start_date">
                                    <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Fecha fin: </label>
                                <div class="input-group date" id="datetimepicker8" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" name="end_date" id="end_date">
                                    <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Solo activos: </label>
                                <label class="switch">
                                    <input type="checkbox" name="vendidos">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col">
                                <br><br>
                                <%= submit_tag "Buscar", class:"btn btn-primary" %>
                            </div>
                        </div>
                    <% end %>
            </div>
            <br>

            <div class="table-responsive" style="max-width: 100%; overflow: auto; min-height: 500px !important;">            
                <table class="table table-bordered table-sm text-center">
                <thead>
                    <th>Tipo de vehículo</th>
                    <th>TN° de vehículo</th>
                    <th>Placas</th>
                    <th>Estatus</th>
                    <th>Fecha compra</th>
                    <th>Valor de compra</th>
                    <% case view %>    
                        <%when "sales" %>   
                        <th>Fecha venta</th>
                    <%end%>

                    <th>Acción</th>

                </thead>
                <% ( vehicles || []).each do |vpr| %>
                    <tr class="contenedor">
                        <td class="tipo"> <%=  vpr.vehicle_type.descripcion %></td>
                        <td class="numero_economico"> <%=  vpr.numero_economico%></td>
                        <td class="placa"><%=  vpr.numero_placa %></td>
                        <td class="numeroeconomico"><%= vpr.vehicle_status.descripcion %></td>
                        <td class="fecha_compra"""><%=  vpr.fecha_compra %></td>
                        <td class="valor_compra"><%=  number_to_currency(vpr.valor_compra, precision: 2) %></td>
                        <% case view %>    
                            <%when "sales" %>   
                            <td class="fecha_inicial"><%= vpr.sales[0].try(:fecha_inicial) %></td>
                        <%end%>
                        <td>
                            <% case view %>    
                                <%when "transit" %>   
                                   <span></span>
                                <%when "sales" %>   
                                        <a class="contenedor" href="#" class="list-group-item list-group-item-action">
                                <%when "assign" %>   
                                    <a class="contenedor" href="<%= assign_vehicle_data_path(vpr.id) %>" class="list-group-item list-group-item-action">
                                <%when "receive" %>   
                                    <a class="contenedor" href="<%= vehicle_receive_data_path(vpr.id, vpr.numero_economico, vpr.vehicle_type_id) %>" class="list-group-item list-group-item-action">
                                <%when "assigned" %>   
                                        <a class="contenedor" href="<%= assign_vehicle_data_path(vpr.id) %>" class="list-group-item list-group-item-action">
                                <%else%>                
                                    <a href="#" class="list-group-item list-group-item-action">
                                <%end%>         


                                <% case view %>    
                                <%when "transit" %>  
                                <%when "sales" %>  
                                <%else%> 
                                    <span class="svg-icon svg-icon-md"> 
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                                    fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) ">
                                                </path>
                                                <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                            </g>
                                        </svg> 
                                    </span>
                                </a>
                            <%end%>
                        </td>                    
                    </tr>
                <%end%>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
$(document).ready(function(){
    
    $('.searchbox-input').on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".contenedor").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

  });

</script>
