<div class="container">
    <br>

    <div class="list-group">
        <% @vehicle_pendientes_entrega.each do |vpr| %>
            <a href="<%= show_vehicle_receive_path(:id=>vpr.id) %>" class="list-group-item list-group-item-action">
                <ul class="">
                    <li class="list-group-item vehicle">
                        <div class="card" style="border:white 0px">
                            <div class="card-body">
                                <h6 class="card-title"><label>Tipo de vehículo: <%=  vpr.vehicle_status_id %> </label></h6>
                                <h5 class="card-subtitle mb-2 text-muted"><label>TN° de vehículo: <%=  vpr.numero_economico%></label></h5>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="">
                                            <li class="list-group-item">Estatus: <%=  vpr.vehicle_status_id %></li>
                                            <li class="list-group-item">Placas: <%=  vpr.numero_placa %></li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="">
                                            <li class="list-group-item">Fecha compra: <%=  vpr.fecha_compra %></li>
                                            <li class="list-group-item">Valor de compra: <%=  number_to_currency(vpr.valor_compra, precision: 2) %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </li>
        
                </ul>
            </a>
        <% end %>


    </div>

</div>