<br><br>

<div class="container">
  <div class="card card-custom gutter-b">
      <div class="row">
         <div class="col-lg-12">
            <div class="card-header">
              <div class="card-title">
                <h3 class="card-label float-left ">Tipo de vehículo</h3>
                <%= link_to 'Regresar', vehicle_types_path, class:"btn btn-default float-right" %>
                </div>
             </div>
         </div>
      </div>
    <div class="card-body">
      <p>
        <strong>Clave:</strong>
        <%= @vehicle_type.clave %>
      </p>
      
      <p>
        <strong>Descripcion:</strong>
        <%= @vehicle_type.descripcion %>
      </p>
      
      <p>
        <strong>Status:</strong>
        <%= @vehicle_type.get_status %>
      </p>
      <%= link_to 'Editar', edit_vehicle_type_path(@vehicle_type),class:"btn btn-default"%>
    </div>
  </div>
</div>