<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header" style="border-bottom: #ffff">
                    <div class="card-title">
                        <h3 style="text-align: center;"><img style="float: left;" src="https://www.gafi.com.mx/Content/themes/images/logo.jpg" alt="" width="119" height="164" /></h3>
                        <h3 style="text-align: center;">&nbsp;</h3>
                        <h3 style="text-align: center;">&nbsp;</h3>
                        <h3 style="text-align: center;">Presupuestos de compra de veh&iacute;culos de venta</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <br>
            <table class="table table-bordered" id="table">
                <thead>
                  <tr>
                    <th>CEDIS</th>
                    <th>Fecha entrega estimada</th>
                    <th>Area</th>
                    <th>Marca</th>
                    <th>Importe con I.V.A</th>
                    <th>Motivo</th>
                    <th>Fecha de compra estimada</th>
                    <th>Plaqueo</th>
                    <th>Seguro</th>
                  </tr>
                </thead>
                <tbody>
                  <% BudgetConcept.all.each do |budget_concept| %>
                    <tr>
                        <td><%= budget_concept.catalog_branch.decripcion %></td>
                        <td><%= l budget_concept.fecha_entrega %></td>
                        <td><%= budget_concept.catalog_area.descripcion %></td>
                        <td><%= budget_concept.catalog_brand.descripcion %></td>
                        <td>$
                            <%= number_with_delimiter(budget_concept.monto, :delimiter => ',') %></td>
                        <td><%= budget_concept.reason.descripcion %></td>
                        <td><%= l budget_concept.fecha %></td>
                        <td>$<%= number_with_delimiter(budget_concept.plaqueo, :delimiter => ',')%>
                        </td>
                        <td>$<%= number_with_delimiter(budget_concept.seguro, :delimiter => ',')%></td>
                    </tr>
                <%end%>
                </tbody>
            </table>
            <div style="justify-content:center; align-items:center;display: flex;">
                <div style=" width:350px;">
                    <br><br><br><br>
                    <hr size="8" width="90%" color="black"> 
                    <div  style="justify-content:center; align-items:center;display: flex;">
                        <strong style="text-align: center;">Firma de autorizacion</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.print();
</script>