<p id="notice"><%= notice %></p>

<p>
  <strong>No economico:</strong>
  <%= @accumulated_fuel.no_economico %>
</p>

<p>
  <strong>Cedis:</strong>
  <%= @accumulated_fuel.cedis %>
</p>

<p>
  <strong>Tipo vehicu:</strong>
  <%= @accumulated_fuel.tipo_vehicu %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @accumulated_fuel.linea %>
</p>

<p>
  <strong>Area:</strong>
  <%= @accumulated_fuel.area %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @accumulated_fuel.responsable %>
</p>

<p>
  <strong>Fecha carga:</strong>
  <%= @accumulated_fuel.fecha_carga %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @accumulated_fuel.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @accumulated_fuel.fecha_fin %>
</p>

<p>
  <strong>N factura:</strong>
  <%= @accumulated_fuel.n_factura %>
</p>

<p>
  <strong>Litros consumidos:</strong>
  <%= @accumulated_fuel.litros_consumidos %>
</p>

<p>
  <strong>Importe base:</strong>
  <%= @accumulated_fuel.importe_base %>
</p>

<p>
  <strong>Importe total:</strong>
  <%= @accumulated_fuel.importe_total %>
</p>

<p>
  <strong>Km inicial:</strong>
  <%= @accumulated_fuel.km_inicial %>
</p>

<p>
  <strong>Km actual:</strong>
  <%= @accumulated_fuel.km_actual %>
</p>

<p>
  <strong>Gasto:</strong>
  <%= @accumulated_fuel.gasto %>
</p>

<p>
  <strong>Km recorrido:</strong>
  <%= @accumulated_fuel.km_recorrido %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @accumulated_fuel.presupuesto %>
</p>

<%= link_to 'Edit', edit_accumulated_fuel_path(@accumulated_fuel) %> |
<%= link_to 'Back', accumulated_fuels_path %>
